rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Match the user's document and any subcollections (like notes)
    match /users/{userId}/{document=**} {
      // Allow access only if the auth UID matches the path userId
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
  }
}